@import 'tailwindcss';

body {
  font-family:
    'SF Pro Display',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    sans-serif;
  background-color: black;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
