@import 'tailwindcss';

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
